/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #6A82FB, #FC5C7D);
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Ocultar overflow para evitar problemas */
}

.main-container {
    width: 100%;
    height: 100%; /* Hacer que el contenedor ocupe toda la altura de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Permitir desplazamiento vertical si el contenido es más largo que la pantalla */
}

.speech-card {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 700px;
    text-align: center;
    max-height: 90vh; /* Limitar la altura para que no exceda la pantalla */
    overflow-y: auto; /* Desplazamiento dentro de la tarjeta */
    transition: transform 0.3s ease;
}

.speech-card:hover {
    transform: scale(1.02);
}

.header h1 {
    font-size: 32px;
    color: #007bff;
    margin-bottom: 20px;
}

.header .highlight {
    color: #FC5C7D;
}

.instructions-btn {
    background-color: #6A82FB;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 15px;
    transition: background-color 0.3s;
}

.instructions-btn:hover {
    background-color: #5C6BFB;
}

.btn {
    background-color: #FC5C7D;
    color: white;
    border: none;
    padding: 14px 24px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #FB3D5D;
}

.icon {
    margin-right: 8px;
}

.result {
    margin-bottom: 20px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 10px;
}

.result h3 {
    margin-bottom: 10px;
    color: #333;
}

.resultText {
    font-size: 16px;
    color: #555;
}

.apartado-lista {
    margin-top: 20px;
}

.apartado-lista ul {
    list-style-type: none;
    padding: 0;
}

.apartado-lista ul li {
    background-color: #FC5C7D;
    color: white;
    padding: 12px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.apartado-lista ul li:hover {
    background-color: #FB3D5D;
}

.footer {
    margin-top: 30px;
    font-size: 12px;
    color: #888;
}
